.servicepage-img {
  width: 13rem;
  height: 13rem;
}
.service-right-part {
  width: 25rem;
}
.service-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service-enroll-btn {
  background-color: rgb(5, 129, 151);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  color: aliceblue;
}
.fa-star {
  color: goldenrod;
}
.allservice-part {
  position: absolute;
  top: 18rem;
}
.service-cart {
  background-color: white;
}
.footer-align {
  margin-top: 74rem;
}
